.Rproj.user
.Rhistory
.RData
.Ruserdata
regoutput_kval_HC3_18.xlsx
regoutput_kval_HC3_14.xlsx
regoutput_kval_HC3_17.xlsx
regoutput_kval_HC3_19.xlsx
regoutput_kval_HC3_2.xlsx
regoutput_kval_HC3_3.xlsx
regoutput_kval_HC3_4.xlsx
regoutput_kval_HC3_5.xlsx
regoutput_kval_HC3_6.xlsx
regoutput_kval_HC3_7.xlsx
regoutput_kval_HC3_8.xlsx
regoutput_kval_HC3_9.xlsx
regoutput_org_HC3.xlsx
regoutput_org_HC3_1.xlsx
regoutput_org_HC4.xlsx
regoutput_soc_HC3.xlsx
regoutput_soc_HC4.xlsx
